<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="subscribe col-sm-12 col-xs-12">
          <div class="row mt centered ">
            <div class="col-sm-8 col-sm-offset-2">
              <h2>What Is Happening?</h2>
              <hr>
            </div>
          </div>
        <p>We are excited to let you know that <%#= link_to "UTS", "http://www.utschools.ca/"%> has been accepted into the Student Spaceflight Experiments Program <%#= link_to "(SSEP)", "http://ssep.ncesse.org/", title: "Student Spaceflight Experiments Program" %> which is run in collaboration with National Center for Earth and Space Science Education <%#= link_to "(NCESSE)", "http://ssep.ncesse.org/", title: "National Center for Earth and Space Science Education" %>. UTS is only the third school in Canada and the first in Ontario to participate.</p>

        <p>In the central component of the project, our grade 9 students – working in small groups along with senior students who will mentor and collaborate – will design micro-gravity experiments. Three experiments will be selected as finalists within the school, and then SSEP will choose the UTS winner. The winning experiment will be launched from Cape Canaveral to the International Space Station to be performed simultaneously in space and on earth. It’s important to note that, because of the special UTS-centric structure of this project, one of our experiments is guaranteed to end up on the ISS! The winning UTS team will also fly to Cape Canaveral for the launch.</p>

        <p>In addition to the class work carried out as part of the regular F2 science curriculum, this project promises to generate many interesting cross-grade, inter-disciplinary activities in school. For example, students will work on their research proposals during English class; and the UTS visual arts department will get involved in the creation of videos and, later, a “patch (an embroidery patch commemorating the mission)” contest.</p>
      </div>
    </div>
  </div>
</section>