<%# content_for :title do %><!-- About --><%# end %>

<div class="row">
  <div class="subscribe col-sm-12 col-xs-12">
    <!-- <h3>About UTS on ISS</h3> -->
    <p>We are excited to let you know that <%= link_to "UTS", "http://www.utschools.ca/"%> has been accepted into the Student Spaceflight Experiments Program <%= link_to "(SSEP)", "http://ssep.ncesse.org/", title: "Student Spaceflight Experiments Program" %> which is run in collaboration with National Center for Earth and Space Science Education <%= link_to "(NCESSE)", "http://ssep.ncesse.org/", title: "National Center for Earth and Space Science Education" %>. UTS is only the third school in Canada and the first in Ontario to participate.</p>

    <p>In the central component of the project, our F2 (Foundation) students – working in small groups along with senior students who will mentor and collaborate – will design micro-gravity experiments.  The chairman of the <%= link_to "Canadian Space Society", "http://css.ca/"%> is also on board as one of the technical advisors to the students. Three finalist experiments will be selected internally, and the SSEP will choose the UTS winner – which will then be launched from Cape Canaveral to the International Space Station to be performed simultaneously in space and on earth. It’s important to note that, because of the special UTS-centric structure of this project, one of our experiments is guaranteed to end up on the ISS! The winning UTS team will also fly to Cape Canaveral for the launch.</p>

    <p>In addition to the class work carried out as part of the regular F2 science curriculum, this project promises to generate many interesting cross-grade, multi-disciplinary activities in school. For example, students will work on their research proposals during English class; and the UTS visual arts department will get involved in the creation of videos and, later, a “patch (an embroidery patch commemorating the mission)” contest.</p>
  </div>
</div>