<!-- News Section -->
<section id="news">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
          <div class="row mt">
            <div class="col-sm-8">
              <h2>News and update</h2>
              <hr>
              <div class="media">
                <div class="media-left">
                  <%= link_to "http://www.css.ca/" do %>
                    <%= image_tag "supporters/canadian_space_society.png", class: "media-object", alt: "Canadian Space Society", title: "Canadian Space Society", data: {holder_rendered: "true"}, width: '150'%>
                  <% end %>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Canadian Space Society featured us on their website</h4>
                  <p>An article about UTS acceptance into the SSEP program is published on the front page of the Canadian Space Society web site!  The Canadian Space Society supports and promotes STEM initiatives that promotes design and research skills.</p>
                  <p>We are in a proud partnership for the same goal: inspiring Canada's youth and providing them what might be some life changing opportunities.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <h2>Tweets by @utsoniss</h2>
              <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/UTSonISS" data-widget-id="567086739479482368">Tweets by @UTSonISS</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              <hr>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>