<!-- News Section -->
<section id="news">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
          <div class="row mt">
            <div class="col-sm-12">
              <h2>News and update</h2>
              <hr>
              <div class="media">
                <div class="media-left">
                  <%= link_to "http://www.css.ca/" do %>
                    <%= image_tag "supporters/canadian_space_society.png", class: "media-object", alt: "Canadian Space Society", title: "Canadian Space Society", data: {holder_rendered: "true"}, width: '150'%>
                  <% end %>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Canadian Space Society featured us on their website</h4>
                  <p><strong>University of Toronto Schools (UTS) has been accepted into the Student Spaceflight Experiments Program (SSEP) Mission 8 to the International Space Station.</strong></p>
                  <p>UTS is the third school in Canada and the first high school in Ontario to participate in this program.</p>
                  <p>To support this initiative, make a pledge through the <%= link_to "Kickstarter campaign","https://www.kickstarter.com/projects/1817096536/help-uts-students-get-into-space"%>, and/or make a donation directly through the CSS <%= link_to "here", "https://www.canadahelps.org/en/charities/the-canadian-space-society-la-societe-canadienne-de-lespace/"  %>. Be sure to include  <strong>UTSonISS SSEP-8</strong> in your message to us.</p>
                </div>
              </div>
            </div>
<!--             <div class="col-sm-4">
              <h2>Tweets by @utsoniss</h2>
              <hr>
            </div> -->
          </div>
      </div>
    </div>
  </div>
</section>