<div id="sponsors">
  <div class="container">
    <div class="row mt centered">
      <div class="col-lg-4 col-lg-offset-4">
        <h3>Sponsors &amp; Supporters</h3>
        <hr>
      </div><!-- /col-lg-4 -->
    </div><!-- /row -->
    <div class="row centered">
      <div class="col-xs-5 col-sm-2 col-md-offset-3">
      <!-- "col-lg-3 pt" -->
        <%= link_to "http://www.css.ca/" do %>
          <%= image_tag "supporters/02.png", class: "img-responsive", alt: "Canadian Space Society", title: "Canadian Space Society" %>
          <div class="caption">
            <h4>Canadian Space Society</h4>
          </div>
        <% end %>
      </div>
      <div class="col-xs-5 col-sm-2 col-md-offset-2">
        <%= link_to "http://www.galaxytoppers.com/" do %>
          <%= image_tag "supporters/01.png", class: "img-responsive", alt: "Galaxy Toppers", title: "Galaxy Toppers" %>
          <div class="caption">
            <h4>Galaxy Toppers</h4>
          </div>
        <% end %>
      </div>
    </div><!-- /row -->
  </div><!-- /container -->
</div>


