<!-- <p id="notice"><%#= notice %></p> -->
<!-- idea Section -->
<section id="idea">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h2 class="centered">Final 3 Projects</h2>
            <hr>
          </div>
        </div>
        <p>Congratulations to everyone involved in this project on doing truly impressive work!!</p>
        
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Finale 3 Projects</div>
      <div class="panel-body">
        <p>Further Congratulations are truly deserved by the extraordinary efforts put forward by the 9 experiments being put forward, and listed below:</p>
      </div>

      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Project Name</th>
            <th>Students Involved</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>How will microgravity​ affect the functions and development of stem cells in the S. Mediterranea ​flatworm?</td>
            <td>Aggarwal, Arjun; Dhalla, Rahim; Egan Matthew Elder, Madeline (S5); Alisia Lalji (S6)</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Water purification and bioremediation effects by Pseudomonas aeruginosa biofilms on wastewater under conditions of gravity and microgravity</td>
            <td>Jack Douglas, Grant Li, Esther Yue, Wilson Ho(S5), Kay Wu(S5),  Jeff Zhou(S5)</td>
          </tr> 
          <tr>
            <th scope="row">3</th>
            <td>Water and Air Purification in Microgravity by Algae</td>
            <td>Taaha Hassan, Alykhan Jetha(M3),Nicholas Li, Miguel Rico (S5)</td>
          </tr>                                                     
        </tbody>
      </table>
    </div>

      </div>
    </div>
  </div>
</section>
