<!-- idea Section -->
<section id="idea">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <h2 class="centered">Student Spaceflight Experiment Program project – Microgravity Research in Space!</h2>
              <hr>
            </div>
          </div>
          <p>Opportunities in education are out there, and sometimes they are just outrageously amazing. While attending the International Astronautical conference in this school year September 2014 (Where our school met Billy Nye and Col. Hadfield), we met some other people involved in education initiatives. It was nearing space week, and representatives from World Space Week  and the Canadian Space Society (CSS) came to our school to publicize World Space week and have our students sign a banner that was being launched in space.</p>

          <p>I spoke to the CSS representative, Haroon Oqab, about other space initiatives and mentioned  the Student Spaceflight Experiments Program (SSEP) project.   With only a link to  a web site, I visited the SSEP site and loved the possibilities of doing space research in high school, but I imagined the extra time it would need, thought it would be a competition to do an experiment  which I thought meant we might do a lot of work and had only a slim chance of sending an experiment to the  ISS, doubted I could get people interested, but I investigated further.</p>

          <p>Their web site was extremely robust with many links and sources so I made contact with the site administrator. Very quickly, their director, Dr. Jeff Goldstein, explained the process to me over the phone. Jeff Goldstein is one of the most passionate STEM advocates I have ever run into.  He’s extremely knowledgeable astrophysicist, but his passion is giving this oppotunity to as many people as possible and having students involved in real space research.  What jumped out at me “guaranteed ISS experiment, student engagement, simultaneous experiment on Earth”…
          <strong> Whaaaat?????? What an opportunity!!</strong> </p>

          <blockquote>
          <p class="blockquote">It was then that I understood that participation meant if I could apply and manage to get our community involved, one of our experiments <strong>WOULD be performed in space,</strong> and it was an internal competition.  Well now we were talking about real motivation.  Mentally, I was in!</p></blockquote>

          <p>Speed ahead 6 weeks, later. Lack of sleep from my other duties, convincing people we needed to get involved no matter how negative they were about the many “what ifs” and unknowns about the project, trying to sift through the web site… creating things and… we were accepted (pending financial back up)! Oh my God, our students are actually going to impact space research. Humanity! The future!  Oh, but there was just this tricky little thing, that I, a full-time chemistry teacher with multiple projects going on and busy home life, must now become a fund raiser.  That was the beginning of a roller coaster journey, creating a video, a kickstarter, applying for donations, speaking in public engagements, speaking to companies and consulting a myriad of organizations and individuals, up and down emotions when it looked like it just wouldn’t work and then would and then up and down that roller coaster many, many times.  Doing a project requires a bit of courage and immunity to risk.  This is why I’m writing this article.  To tell anyone out there who also became excited that it is worth it, earn from our experiences and improve on them.   Isn’t that what real science is all about?</p>

          <p><strong>Where we are now (March 14, 2015):</strong></p>

          <p>With the money raised for our participation  (that’s right, I’ve skipped the details, but mission accomplished!) with a combined effort from the NCESSE and us, we are now moving forward with experiments!</p>

          <p>It has been quite a journey and despite many people having doubts, the fundraising is completed to participate in the Student Spaceflight experiments Program (SSEP) mission 8. I would like to say a big <strong>thank you</strong> to many many people, beginning with the <strong>major corporate sponsors</strong> for our participation.</p>

          <ul>
            <li>Magellan Aero</li>
            <li>Ministry of Economic Development</li>
            <li>Telus Canada</li>
          </ul>

          <p>Other Businesses and Individuals also made this happen:</p>

          <ul>
            <li>Toronto Foundation</li>
            <li>TD Bank</li>
            <li>Kanetix</li>
            <li>Bessada Kia</li>
            <li>UTSPA (UTS Parent’s Association)</li>
            <li>The Govan family</li>
            <li>John and Angela Vavitsas family</li>
            <li>Michaele Robertson & Barry Wansbrough</li>
            <li>VandenHoven Raymond family</li>
            <li>UTS parents, alumni, staff</li>
            <li>A bake sale initiated by our grade 8 students!</li>
            <li>The combined efforts of related family, friends, colleagues</li>
            <li>The general public the world over that believe in STEM education and the positve impact on this planet!</li>
          </ul>

          <p><strong>How does one fundraise anyway?</strong></p>

          <p>I, personally had no idea how to crowdfund. I am, afterall, an educator, author and a scientist and the extent of raising funds has been for research proposals or education grants.  But this was different, it was dealing with the public, and asking them to support an educational initiative – not a government agency.  It was a very scary, unknown journey with an equal number of supportive enthusiasts and nay sayers moving forward.  The supportive enthusiasts thought it was an amazing opportunity, but were also concerned about the funding, about introducing a topic that may not happen.  </p>

          <blockquote>
            <p class="blockquote">
              The nay sayers had a combination of too much time, too much money, let’s stick to what we know, why try something new types of answers. Unknown territory is not easy, and the risk of introducing this opportunity and then failing was a very realistic concern. But it was a no win situation, and we have to win it.
            </p>
          </blockquote>

          <p>To participate in the SSEP things had to move fast and it was impossible to do this without student support, and thus not telling them was less risky than telling them.</p>

          <p>The next step was discussing with the administration of the school.  This project is risky to take part in financially and for planning the participation of so many people.  UTS is a school already so involved in so many extra-curricular activities.  The school is popping over with debating clubs, sports teams, science Olympiads, biotechnology projects, chess teams, math contests, computer contests, tournaments, competitions, shows, bands…  so much is going on!  Was there even room for more?  I approached our subject director, followed by vice-principals, followed by principal and our director of advancement, and they both loved the ideas, but also had no idea how we could raise the money or fit it into the curriculum.  The response was positive, but asking me to give a realistic plan for the funding AND how this could be incorporated into a course without stepping on other courses.</p>

          <p>I started attending and arranging multiple meetings with various educational, scientific and startup organizations along with Haroon.  One of the first meetings was with MARS discovery and a former colleague, Joseph Wilson.  From him, I learned much more on how to focus the kickstarter, and what was, and was not important for it.  Joseph himself is an astronomer and educator, and he was so enthusiastic he himself promised to pledge to the kickstarter.  With the clear signs of the momentum and enthusiasm this project was making, we moved forward.</p>

          <p><strong>Other major hurdles</strong></p>

          <p>As the funding was being organized, the other major plans were including 200 students in a school of 670.   Would they be marked?  Who would and wouldn’t be allowed to participate? I wanted to involve other relevant subject teams, and give anyone the chance to be involved, while streamlining those that should be involved. The senior students had the experience but no time in their classes.  The junior students had a perfect fit in their curriculum, and overwhelming enthusiasm, but less experience and not enough of a student body.   If only we could merge them…</p>

          <p>Oh yes!  We could merge them!  It was perfect.  A mentoring relationship was envisioned.  I spoke with another science enthusiasts in my department, including Shawn Brooks and Jennifer Howell, who showed very early support and we enthusiasm for the program.  We ironed it out with the other teachers in the grade 9 science grade, where this would fit in perfectly as a part of their subject area.  Elizabeth Straszynski, the lead on the grade 9 science course I assumed might feel there was no time to do this, but she also saw the value of the program.  She is a curriculum specialist and was very good for helping us all figure out where this fit in, and the 3 teachers involved in grade 9 science were  willing to shift around some other projects.  As a team, we continue to plan how to incorporate this project into the grade 9 curriculum</p>

          <p>To summarize, these are that needed to be dealt with to participate in the program</p>

          <ul>
            <li>The funding, which is $23700 US.  The NCESSE does a lot of work to help its communities get sponsorship through corporate sponsors, but it’s not something you can depend on, and it’s always better to promise an amount it not all yourself rather than depending on so many unknowns</li><br>
            <li>Incorporating it into the program</li><br>
            <li>Organizing groups and providing guidance for mentor teams</li><br>
            <li>Making sure anyone involved in the program agrees to do so</li><br>
            <li>Taking the time to apply and create an implementation plan</li><br>
            <li>Coming up with a project plan</li><br>
            <li>Finding the time for the students to be involved</li><br>
            <li>making sure your plan acknowledges everyone involved and is a valid learning experience regardless of whether those involved have the top experiment</li><br>
            <li>making contacts with other research institutions for the use of their equipment</li><br>
          </ul>

          <p><strong>For anyone planning to do a major STEM project like this out there, some unexpected surprises:</strong></p>

          <ul>
            <li>There has been overwhelming support. In words, in sponsorship, it has been made clear right back to us that people realize the need to have real world applications in education and the chance to make an impact at ANY stage in education.  Space research is a part of all of us, it’s a part of how we fit in and will be more and more a part of all of our futures.</li><br>
            <li>The engagement of this program is touching on many levels.  It’s a relief and inspiring to see, that a project in space means so much to aerospace companies, companies interested in space, to small businesses that feel proud to help students do something wonderful, to friends of students who just think this is cool and want to help them… the list goes on.  The human spirit is shining through!</li><br>
            <li>The level of engagement is a very strong reality!  We are in the early stages, and some groups have almost completed their projects.  This opportunity means something to them.  Students do not learn for grades or the carrot at the end of the stick, they learn when they are engaged, when they know why they are learning what they are learning and clearly, this is when they give you some awe inspiring outcomes!</li><br>
            <li>Our Music department was inspired! Sarah Shugarman, a UTS music teacher, approached me on making their year end project incorporate this space project.  They were connecting the creativity and the entire UTS music department is making this happen</li><br>
            <li>Our English department very early on was happy to make this a cross-curricular journey and fine tune the younger students research writing skill as part of the program which is something they also teach.  Not everyone likes to step out of their boundaries and do new things, but seeing the many departments do this, in the name of learning is just adding to the fruitfulness and excitement of doing such a large project.</li>
          </ul>

          <p><strong>The beginning of the projects:</strong></p>

          <p>We have successfully split up the grade 9 science classes into groups they want to work with.  Because a lot of the shared documentation is on google docs, we did not limit the groups to specific classrooms.  They can work with any people in their grade.  We had enough mentor volunteers from science grade 11 and 12 grades to join with the grade 9 science grade.   Each group has their own folders where teachers and additional science mentors have access.  A meeting was held for the mentors and they have been asked to meet their younger partners to begin their journey and very quickly, on mass, most have been following this protocol wonderfully.  We are able to see who contributes what with google docs and follow progress.</p>

          <p>We are 2 weeks into the planning and the grade 9s have given details on what microgravity is, the
          <%= link_to "FME research box", "http://ssep.ncesse.org/current-flight-opportunities/ssep-mission-7-to-the-international-space-station-iss/ssep-mission-7-to-iss-mini-laboratory-operation/", title: "FME research box" %>, and another assignment where they looked at previous microgravity experiments.   They have all narrowed down their choice of topics or chosen them.</p>

          <p>Our current challenge is to monitor their progress, delegate the teachers following. We are also pairing them with external mentors for scientific advice.  So far, we have some scientists from the Canadian Space Society, the Royal Astronomical Society, Ontario Science Centre and University of Toronto.  Our projects are being worked on collaboratively on google docs, making it easier to see who contributes what</p>

          <p><strong>“The Student Spaceflight Experiments Program <%= link_to "http://ssep.ncesse.org", "http://ssep.ncesse.org", title: "http://ssep.ncesse.org" %> is undertaken by the National Center for Earth and Space Science Education NCESSE <%= link_to "http://ncesse.org", "http://ncesse.org", title: "http://ncesse.org" %> in partnership with Nanoracks, LLC. This on-orbit educational research opportunity is enabled through NanoRacks, LLC, which is working in partnership with NASA under a Space Act Agreement as part of the utilization of the International Space Station as a National Laboratory.”</strong></p>

          <p>We are on our way and will keep you posted!</p>

          <footer class="text-left"><strong><cite title="Source Title">Suzanne Monier</cite></strong></footer>
           <br>

          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4l0O7WQz4UY" frameborder="0" allowfullscreen></iframe>
          </div>

          <!--<p><%#= link_to "UTS", "http://www.utschools.ca/", title: "University of Toronto Schools (UTS)" %> is excited to let you know that we have been accepted into the Student Spaceflight Experiments Program <%#= link_to "(SSEP)", "http://ssep.ncesse.org/", title: "Student Spaceflight Experiments Program" %> which is run in collaboration with National Center for Earth and Space Science Education <%#= link_to "(NCESSE)", "http://ssep.ncesse.org/", title: "National Center for Earth and Space Science Education" %>. UTS is only the third school in Canada and the first in Ontario to participate.</p>
           -->
      </div>
    </div>
  </div>
</section>
