<!-- idea Section -->
<section id="idea">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <h2 class="centered">Student Spaceflight Experiment Program project – Microgravity Research in Space!</h2>
              <hr>
            </div>
          </div>
          <p>Opportunities in education are out there, and sometimes they are just outrageously amazing. While attending the International Astronautical conference in this school year September 2014 (Where our school met Billy Nye and Col. Hadfield), we met some other people involved in education initiatives. It was nearing space week, and representatives from World Space Week  and the Canadian Space Society (CSS) came to our school to publicize World Space week and have our students sign a banner that was being launched in space.</p>

          <p>I spoke to the CSS representative, Haroon Oqab, about other space initiatives and mentioned  the SSEP project.   With only a link to  a web site, I visited the SSEP site and loved the possibilities of doing space research in high school, but I imagined the extra time it would need, thought it would be a competition to do an experiment  which I thought meant we might do a lot of work and had only a slim chance of sending an experiment to the  ISS, doubted I could get people interested, but I investigated further.</p>

          <p>Their web site was full of links, but extremely hard to follow, so I made contact with site administrator. Very quickly, their director, Dr. Jeff Goldstein, explained the complicated process to me over the phone. And through all the jumbling, what jumped out at me “guaranteed ISS experiment, student engagement, simultaneous experiment on Earth”…
          Whaaaat?????? What an opportunity!!</p>

          <p>It was then that I understood that participation meant if I could apply and manage to get our community involved, one of our experiments <strong>WOULD be performed in space,</strong> and it was an internal competition.  Well now we were talking about real motivation.  Mentally, I was in!</p>

          <p>Speed ahead 6 weeks, later. Lack of sleep from my other duties, convincing people we needed to get involved no matter how negative they were about the many “what ifs” and unknowns about the project, trying to sift through the web site… creating things and… we were accepted (pending financial back up)! Oh my God, our students are actually going to impact space research. Humanity! The future!  Oh, but there was just this tricky little thing, that I, a full-time chemistry teacher with multiple projects going on and busy home life, must now become a fund raiser.  That was the beginning of a roller coaster journey, creating a video, a kickstarter, applying for donations, speaking in public engagements, speaking to companies and consulting a myriad of organizations and individuals, up and down emotions when it looked like it just wouldn’t work and then would and then up and down that roller coaster many, many times.  Doing a project requires a bit of courage and immunity to risk.  This is why I’m writing this article.  To tell anyone out there who also became excited that it is worth it, earn from our experiences and improve on them.   Isn’t that what real science is all about?</p>

          <p><strong>Where we are now (March 14, 2015):</strong></p>

          <p>With the money raised for our participation  (that’s right, I’ve skipped the details, but mission accomplished!), we are now moving forward with experiments!</p>

          <p>It has been quite a journey and despite many people having doubts, the fundraising is completed to participate in the Student Spaceflight experiments Program (SSEP) mission 8. I would like to say a big <strong>thank you</strong> to many many people, beginning with the <strong>major corporate sponsors</strong> for our participation.</p>

          <ul>
            <li>Magellan Aero</li>
            <li>Ministry of Economic Development</li>
            <li>Telus Canada</li>
          </ul>

          <p>Other Businesses and Individuals also made this happen:</p>

          <ul>
            <li>Toronto Foundation</li>
            <li>TD Bank</li>
            <li>Kanetix</li>
            <li>Bessada Kia</li>
            <li>UTSPA (UTS Parent’s Association)</li>
            <li>The Govan family</li>
            <li>John and Angela Vavitsas family</li>
            <li>Michaele Robertson & Barry Wansbrough</li>
            <li>VandenHoven Raymond family</li>
            <li>UTS parents, alumni, staff</li>
            <li>A bake sale initiated by our grade 8 students!</li>
            <li>The combined efforts of related family, friends, colleagues</li>
            <li>The general public the world over that believe in STEM education and the positve impact on this planet!</li>
          </ul>

          <p><strong>How does one fundraise anyway?</strong></p>

          <p>I, personally had no idea how to crowdfund.   I am, afterall, an educator, author and a scientist and the extent of raising funds has been for research proposals or education grants.  But this was different, it was dealing with the public, and asking them to support an educational initiative – not a government agency.  It was a very scary, unknown journey with an equal number of supportive enthusiasts and nay sayers moving forward.  The supportive enthusiasts thought it was an amazing opportunity, but were also concerned about the funding, about introducing a topic that may not happen.  The nay sayers had a combination of too much time, too much money, let’s stick to what we know, why try something new types of answers.   Unknown territory is not easy, and the risk of introducing this opportunity and then failing was a very realistic concern.  But it was a no win situation.  To participate in the SSEP things had to move fast and it was impossible to do this without student support, and thus not telling them was less risky than telling them.</p>

          <p>The next step was discussing with the administration of the school.  This project is risky to take part in financially and for planning the participation of so many people.  UTS is a school already so involved in so many extra-curricular activities.  The school is popping over with debating clubs, sports teams, science Olympiads, biotechnology projects, chess teams, math contests, computer contests, tournaments, competitions, shows, bands…  so much is going on!  Was there even room for more?  I approached our subject director, followed by vice-principals, followed by principal and our director of advancement, and they both loved the ideas, but also had no idea how we could raise the money or fit it into the curriculum.  The response was positive, but asking me to give a realistic plan for the funding AND how this could be incorporated into a course without stepping on other courses.</p>

          <p>I started attending and arranging multiple meetings with various educational, scientific and startup organizations along with Haroon.  One of the first meetings was with MARS discovery and a former colleague, Joseph Wilson.  From him, I learned much more on how to focus the kickstarter, and what was, and was not important for it.  Joseph himself is an astronomer and educator, and he was so enthusiastic he himself promised to pledge to the kickstarter.  With the clear signs of the momentum and enthusiasm this project was making, we moved forward.</p>









        <p><%= link_to "UTS", "http://www.utschools.ca/", title: "University of Toronto Schools (UTS)" %> is excited to let you know that we have been accepted into the Student Spaceflight Experiments Program <%= link_to "(SSEP)", "http://ssep.ncesse.org/", title: "Student Spaceflight Experiments Program" %> which is run in collaboration with National Center for Earth and Space Science Education <%= link_to "(NCESSE)", "http://ssep.ncesse.org/", title: "National Center for Earth and Space Science Education" %>. UTS is only the third school in Canada and the first in Ontario to participate.</p>

      </div>
    </div>
  </div>
</section>