<!-- idea Section -->
<section id="idea">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
          <div class="row">

            <div class="col-sm-8">
              <h2 class="centered">Thank you!</h2>
              <hr>
              <p class="thanks">
                 <%= image_tag "supporters/big_thanks.png", class: "media-object", alt: "Suzanne Monir SSEP Organizer", title: "Suzanne Monir SSEP Organizer", data: {holder_rendered: "true"}%>
              </p>
              <blockquote><p class="blockquote"> We want to really thank everyone for their invaluable support and assistance throughout our journey in this awesome project.
              <br>
              Thanks a lot.
              </p></blockquote>


            </div>
            <!-- .col-sm-8 -->
            <div class="col-sm-4">
              <h2>Tweets by @utsoniss</h2>
              <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/UTSonISS" data-widget-id="567086739479482368">Tweets by @UTSonISS</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              <hr>
            </div>
            <!-- .col-sm-4 -->
          </div>
        </div>
        <!-- .col-sm-12 col-xs-12 -->
      </div>
    </div>
</div>

