<% provide(:title, "The Aerospace Toronto Showcase March 2016") %>
<!-- <p id="notice"><%#= notice %></p> -->
<!-- idea Section -->
<style type="text/css" media="screen">
#h {
  background: url('/assets/projects/oute-space-from-earth.jpg') no-repeat center bottom;
  padding-top: 150px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 700px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>

<div id="h">
  <div class="container">
    <div class="row">
      <h1 class="centered">The Aerospace Toronto Showcase March 2016</h1>
    </div>
  </div><!--/container -->
</div>
<section id="idea">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h2 class="centered">Microgravity Experiment Succeeded</h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <p>On March 18. 2016 the University of Toronto Aerospace Team (UTAT) hosted the <a href="https://www.eventbrite.ca/e/the-aerospace-showcase-2016-tickets-20926915969">Aerospace Showcase 2016 event</a>.</p>
          <p>
            The Aerospace Showcase –  was the official unveiling event and awards ceremony featuring UTAT’s latest fleet of aircraft and spacecraft. Students, faculty, industry, news media, and other friends of UTAT were in attendance, including a select number of close external partners with their own booths. The Aerospace Showcase celebrated UTAT’s most recent design achievements and allow the team, attending students, and partner organizations to network and ignite future collaborations.
          </p>
          <p>
            UTSonISS students and advisors were in attendance to speak about their upcoming launch expected this June 2016.  As the only secondary school team, attendees were interested to learn  about our experiences, how our community functioned, what was involved in the design and what our winning experiment was about.
          </p>
          </div>
           <br><br>
            <%= render 'application/spread' %>
          <div class="row">
            <%= render 'aerospace_gallery' %>
          </div>
      </div>
    </div>
  </div>
</section>