<style type="text/css" media="screen">
  /* HEADER SECTION */
#h {
  background: url('/assets/projects/view-to-earth.jpg') no-repeat center top;
  padding-top: 150px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 700px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
img.author {
  width: 50px;
}
</style>

<div id="h">
  <div class="container">
    <div class="row">
      <h1 class="centered">The Projects</h1>
    </div>
  </div><!--/container -->
</div>


<section id="idea">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h2 class="centered">A Message</h2>
            <hr>
          </div>
        </div>
        <p>
          All groups worked extremely hard using the Google platform to work collaboratively. Beginning with background on microgravity, doing research on the FME and then brainstorming together, they really all individually created something from nothing.
        </p>
        <p>
          In addition, the difficulties are the size of the tube, the temperature controls, the lack of light, the time for transport and upon landing in the Pacific ocean, all had to be accounted for. What they have all done is real research, real science and true innovation.
        </p>
        <p>
          Many teams consulted with research groups to arrange laboratory experiments.  Regardless of where they placed, they have much to be proud of, and we are proud of them.
        </p>

        <div class="media">
          <div class="media-left media-middle">
            <a href="http://utsoniss.com/#team">
              <%= image_tag "team/suzanne_monir.jpg", class: "media-object img-circle author", alt: "Suzanne Monir", title: "Suzanne Monir" %>
            </a>
          </div>

          <div class="media-body">
            <h4 class="media-heading">Suzanne Monir</h4>
            Science Teacher &amp; SSEP Project Manager
          </div>
            <br><br>
            <%= render 'application/spread' %>
        </div>
      </div>
    </div>
  </div>
</section>
