<% provide(:title, "Microgravity Experiment | ") %>
<!-- <p id="notice"><%#= notice %></p> -->
<!-- idea Section -->
<style type="text/css" media="screen">
#h {
  background: url('/assets/projects/experiment.jpg') no-repeat center bottom;
  padding-top: 150px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 700px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>

<div id="h">
  <div class="container">
    <div class="row">
      <h1 class="centered">Ontario High School Students have successfully completed competition for Microgravity Experiment –  expected launch date April 2016</h1>
    </div>
  </div><!--/container -->
</div>


<section id="idea">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h2 class="centered">Microgravity Experiment Succeeded</h2>
            <hr>
          </div>
        </div>
        <p>
          Ontario High School Students have successfully completed competition for Microgravity Experiment –  expected launch date April 2016
        </p>
        <p>
          10 students from the University of Toronto Schools (UTS) truly reached for the stars after winning a school-wide competition as part of the Student Spaceflight Experiments Program (SSEP). More than half the school connected with scientific communities to present proposals on microgravity experiments to be performed on the International Space Station (ISS).
        </p>
        <p>
          The program was a whirlwind of activity involving everyone at UTS. Multiple departments came together to help fundraise and train pupils to produce high quality research proposals. Rather than a purely scientific experiment, the involvement of the school was a STEAM (Science Technology Engineering Arts and Math) endeavour with a school wide art contest to design a mission patch to accompany the experiments in space, time in English classes to optimize their proposals, and general feedback and collaboration from the entire community.
        </p>
        <p>
          The SSEP program focuses on providing an opportunity for students to become real scientists and engineers. Students went through the entire scientific process, from brainstorming exploratory ideas to researching in scientific journals to support their hypothesis. Senior high school students mentored grade 8 students, and helped produce a research proposal for the ISS in low Earth orbit. Due to the strict safety limitations aboard the spacecraft, proposals had to be rewritten many times over. Although it was disheartening for some, many took on the challenge and pushed themselves to beyond their comfort zone. A number of middle and high school students contacted university professors for advice on how to strengthen their proposals, and some even went into research laboratories to do preliminary experimentation. Instead of learning how to do science in a classroom, students seized the opportunity to experience science in the real-world.
        </p>
        <p>
          All students created high caliber scientific experiments, and the winning team designed an experiment entitled “Levels of Sphingomyelinase (ASM-2) in Caenorhabditis elegans in Microgravity”. They plan to send nematodes into microgravity, and then analyze the concentrations of ASM-2 upon return to orbit. ASM-2 is known to be significant contributor of oxidative stress, which correlates with decreased muscle mass. Their experiment will enhance our understanding of the mechanisms behind muscle atrophy, which is a common contributor in several conditions such as Amyotrophic Lateral Sclerosis (ALS), stroke, and cancer. The runner-ups included experiments with biofilms, plenaria, and algae. More details of what we have done can be seen on our web site, <a href="www.utsoniss.com">www.utsoniss.com</a>.
        </p>
        <p>
          The conditions in the experimental vessel for the experiment are extremely limiting, and the creativity that resulted is impressive. The experiment takes place in an approximately 17 cm long, silicone tube (a Fluid Mixing Enclosure or FME), which is divided with plastic clamps into subsections of variable volumes. The clamps serve to divide the reactants until the experiment is activated by astronauts in orbit, or to terminate the experiment once it is over. This ensures that the experiment will only run during the time the FME is in a weightless environment. At predetermined times, astronauts close and open the clamps as well as shake the contents of the tube. Due to safety concerns, the FME was not allowed to contain technology, had limited temperature control, had no method to add or remove additional materials, and complied with a stringent list of what are deemed safe chemicals and biologicals.
        </p>
        <p>
          The top experiments travelled to conferences nationally and internationally, where they connected with both other student teams, and leading scientists in aerospace research.  Students became immersed in a community, and explained their ideas and experimental results to their peers. Science is not only about the individual, it’s a social landscape that depends on communication. They learned what it means to be in the Space Age, and witnessed the research being done all around the world.
        </p>
        <p>
          Currently, the winners are busy ordering materials for the samples that they plan to send into orbit. Working closely with the laboratories of Dr. Roy from the University of Toronto and Dr. Batt of St. Michael’s Hospital, students are determining the optimal conditions in the FME. They are also practising the post-microgravity procedure, since there will not be a second chance at getting nematodes that were in space! UTS participated in SSEP Mission 8, which was expected to launch in October 2015 with SpaceX-9, the SpaceX Falcon rocket with the Dragon spacecraft. However, due to the Dragon Capsule explosion on June 28, 2015, there has been an unprecedented delay. All subsequent launches have been delayed, and the new launch date has been set for April 2016.  The entire team is excited to travel to Cape Canaveral, and witness months of work travel 250 km into the sky.
        </p>
<hr>
        <div class="media">
          <div class="media-left media-middle">
            <a href="http://utsoniss.com/#team">
              <%= image_tag "team/suzanne_monir.jpg", class: "media-object img-circle author", alt: "Suzanne Monir", title: "Suzanne Monir" %>
            </a>
          </div>
          <div class="media-body">
            <p>Media Contact</p>
            <h4 class="media-heading">Suzanne Monir</h4>
            <h5>Science Teacher &amp; SSEP Project Manager and Community Director</h5>
            <br><br>
            <%= render 'application/spread' %>
          </div>
        </div>




      </div>
    </div>
  </div>
</section>