<!-- <p id="notice"><%#= notice %></p> -->
<!-- idea Section -->
<section id="idea">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h2 class="centered">Student Projects</h2>
            <hr>
          </div>
        </div>
        <p>The SSEP deadline was on Apr. 24th, and the review of the experiments is now complete. The selection process was extremely difficult, with 6 reviewers working on the process very diligently. The difficulty was because the projects were truly impressive.  I want to personally congratulate the student teams on their creativity and diligence on creating projects that are well beyond their years with such scientific detail.   Today we presented at the Ontario Science Centre where I had person after person comment that they simply could not believe these projects came out of high school students!</p>
        <p>
          Not being chosen for final 9 recommendations could either have to do with viability of the experiment, missing components, or requests for parameters not in regulation or potentially science that would be problematic with the parameters that have been laid out for this experiment.
        </p>
        <p>
          First, some honorable mentions would like to be acknowledged for what the reviewers unanimously felt were very worthy experiments that deserved to be mentioned (most projects were worthy, but these projects were very close with parameters etc. but different aspects were incomplete).
        </p>


<div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">All Projects</div>
      <div class="panel-body">
        <p>First, some honorable mentions would like to be acknowledged for what the reviewers unanimously felt were very worthy experiments that deserved to be mentioned (most projects were worthy, but these projects were very close with parameters etc.</p>
      </div>

      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Project Name</th>
            <th>Description</th>
            <th>Ranks</th>
          </tr>
        </thead>
        <tbody>
          <% @projects.each_with_index do |project, index| %>
            <tr>
              <th scope="row"><%= index + 1 %></th>
              <td><%= project.name %></td>
              <td><%= project.description %></td>
              <td><%= link_to Category.friendly.find(project.category_id).name, category_path(project.category_id) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

      </div>
    </div>
  </div>
</section>
