<% provide(:title, "We are the Judges!") %>
<style type="text/css" media="screen">
#h {
  background: url('/assets/projects/we-are-the-judges.jpg') no-repeat center center;
  padding-top: 150px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 700px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>

<div id="h">
  <div class="container">
    <div class="row">
      <h1 class="centered">We are the Judges!</h1>
      <!-- <h1 class="centered anotherh">All information about Students Projects they have been working on for months</h1> -->
<!--       <a href="https://www.youtube.com/watch?v=VN04ZOlkjw8" title="UTS kickstarter Project" target="_blank">
        <h3>Watch our thank you video</h3>
      </a> -->
<!--       <div class="col-md-2 col-md-offset-5">
       <a id="various" href="https://www.youtube.com/embed/VN04ZOlkjw8" class="hero-play-btn various fancybox.iframe">Play Button</a>
      </div> -->
    </div>
  </div><!--/container -->
</div>

<section id="idea">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h2 class="centered">Projects Judges</h2>
            <hr>
          </div>
        </div>
        <p>
          On Monday April 27th, a team of experts and our own homegrown talent will have the difficult job of narrowing down these 9 proposals to 3, so that we may pass them forward to the NCESSE on May 6th, for Step Review where the experiment that will be carried out on the ISS will be chosen.
        </p>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Projects Judges</div>
      <div class="panel-body">
        <p>We are indebted to the following outside and local talent for helping to be part of our decision board on Monday.  This includes:</p>
      </div>

      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Mentor Name</th>
            <th>Institute</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Professor Tim Barfoot</td>
            <td>University of Toronto Aerospace</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Scott Mckay</td>
            <td>University of Toronto</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Haroon Oqab</td>
            <td>Canadian Space Society</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Matt Malone</td>
            <td>RASC presenter and Roots Cause Engineer and Forensic Scientist</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Dr. Cheryl Madeira</td>
            <td>OISE</td>
          </tr>

          <tr>
            <th scope="row">6</th>
            <td>Eric Choi</td>
            <td>Aerospace Engineer with CanSys, Science Writer</td>
          </tr>

          <tr>
            <th scope="row">7</th>
            <td>Hanuel Hayden Park</td>
            <td>Doctorate candidate in chemistry at University of Toronto</td>
          </tr>

          <tr>
            <th scope="row">8</th>
            <td>Dr. Taryn Reider</td>
            <td>Neuroscientist and current OISE student</td>
          </tr>

          <tr>
            <th scope="row">9</th>
            <td>Daniel Genesse</td>
            <td>Science Teacher</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Dr.Sean Clapham</td>
            <td>Science Teacher</td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>Kim Tran</td>
            <td>Science Teacher</td>
          </tr>

          <tr>
            <th scope="row">12</th>
            <td>Siska Notobiwowo </td>
            <td>Science Teacher</td>
          </tr>


        </tbody>
      </table>
    </div>

                <br><br>
            <%= render 'application/spread' %>

      </div>
    </div>
  </div>
</section>