<% provide(:title, "Day at the Ontario Science Center") %>
<style type="text/css" media="screen">
#h {
  background: url('/assets/projects/starts-from-earth.jpg') no-repeat center center;
  padding-top: 150px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 700px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>

<div id="h">
  <div class="container">
    <div class="row">
      <h1 class="centered">Day at the OSC</h1>
      <!-- <h1 class="centered anotherh">All information about Students Projects they have been working on for months</h1> -->
<!--       <a href="https://www.youtube.com/watch?v=VN04ZOlkjw8" title="UTS kickstarter Project" target="_blank">
        <h3>Watch our thank you video</h3>
      </a> -->
<!--       <div class="col-md-2 col-md-offset-5">
       <a id="various" href="https://www.youtube.com/embed/VN04ZOlkjw8" class="hero-play-btn various fancybox.iframe">Play Button</a>
      </div> -->
    </div>
  </div><!--/container -->
</div>


<section id="idea">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h2 class="centered">Day at the Ontario Scince Center</h2>
            <hr>
          </div>
        </div>
				<p>Today we presented at the Ontario Science Centre where I had person after person comment that they simply could not believe these projects came out of high school.</p>
				<p>
      </div>
    </div>
  </div>
</section>