<style type="text/css" media="screen">
#h {
  background: url('/assets/projects/outer_space_stars_nebula.jpg') no-repeat center center;
  padding-top: 150px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 700px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>


<div id="h">
  <div class="container">
    <div class="row">
      <h1 class="centered">Semi final teams</h1>
    </div>
  </div><!--/container -->
</div>

<section id="idea">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h2 class="centered">Semi Final 9 Projects</h2>
            <hr>
          </div>
        </div>
        <p>Congratulations to everyone involved in this project on doing truly impressive work!!</p>

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Semi Finale 9 Projects</div>
      <div class="panel-body">
        <p>Further Congratulations are truly deserved by the extraordinary efforts put forward by the 9 experiments being put forward, and listed below:</p>
      </div>

      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Project Name</th>
            <th>Students Involved</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>How will microgravity​ affect the functions and development of stem cells in the S. Mediterranea ​flatworm?</td>
            <td>Arjun A, Rahim D, Matthew E, Maddie E; Alisia L</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Levels of Sphingomyelinase (ASM-2) in Caenorhabditis Elegans in Microgravity</td>
            <td>Annabel G, Alice V, Bridget P, Amy F, Catherine V, Michael L</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>The Effects of a Microgravity on the Haemostasis of Human Whole Blood</td>
            <td>Albert Cheng, Raymond Lin, Yuvraj Tripathy, Anoop Manjunath (S6), John Zhou(S6)</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Bifidobacterium bifidum vs. Escherichia coli O157:H7 in Microgravity</td>
            <td>Michellie C, Alisia P, Eileen H, Aurora D, Margaret F,  Gloria W</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Examining the effectiveness of the lithotrophic carbon-fixating bacteria Methanoculleus submarinus as an alternate source of biofuels in space.
</td>
            <td>Evan K, Victor R, William Z, Jacob B, Jessica C,  Armaan L</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Water purification and bioremediation effects by Pseudomonas aeruginosa biofilms on wastewater under conditions of gravity and microgravity</td>
            <td>Jack D, Grant L, Esther Y, Wilson H, Kay W,  Jeff Z</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Water and Air Purification in Microgravity by Algae</td>
            <td>Taaha H, Alykhan J, Nicholas L, Miguel R</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>The effects of microgravity on the decomposition of organic material by an effective microorganism mixture.</td>
            <td>Anastasia R, Sarah R, Zosia G, Hannah N, Maria M, Samantha H</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>At what rate will Drosophila melanogaster G1 cell line migrate toward Fibroblast Growth Factor in microgravity as compared to under normal gravitational influence?</td>
            <td>Ethan B, Gabriel B, Gautam M, Malhaar M, Bill J</td>
          </tr>
        </tbody>
      </table>
    </div>
            <br><br>
            <%= render 'application/spread' %>
      </div>
    </div>
  </div>
</section>
