<!-- <p id="notice"><%#= notice %></p> -->
<!-- idea Section -->
<style type="text/css" media="screen">
#h {
  background: url('/assets/projects/oute-space-from-earth.jpg') no-repeat center bottom;
  padding-top: 150px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 700px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>

<div id="h">
  <div class="container">
    <div class="row">
      <h1 class="centered">UTSonISS and UofT host Space Conference with astronauts Jeremy R. Hansen</h1>
    </div>
  </div><!--/container -->
</div>
<section id="idea">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h2 class="centered">Thinking outside of the globe with Astronaut Jeremy R. Hansen</h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <p>On April 8th, UTSonISS and the University of Toronto Aerospace Team a creating Microgravity Space Experiments are proud to host <a href="http://asc-csa.gc.ca/eng/astronauts/biohansen.asp">Lt. Col. Jeremy R. Hansen</a>, one of two Canadian astronauts who will fly to the International Space Station by 2024.</p>
          <p>
            Canadian Space Agency Astronaut Jeremy Hansen is a modern day explorer. Dreaming of becoming an astronaut as far back as he can remember, Jeremy began flying at the age of 17, eventually becoming a CF-18 fighter pilot. In 2009, Jeremy was selected from a pool of over 5,300 candidates to become one of two Canadian astronauts. Since then, his intensive astronaut training has included geological expeditions in the High Arctic, exploring alien caves and conducting scientific experiments in weightlessness. In Toronto to speak with future Canadian space explorers and scientists, he stops at the University of Toronto to share his experience with students from the Student Spaceflight Experiments Program, the University of Toronto Aerospace Team.
          </p>
          <p>
            Lt. Col. Hansen will meet personally with the finalist teams, then spend the first half-hour speaking about the Canadian Space Programme and his journey as an astronaut; the remaining time will be used for Q & A.
          </p>
          <p>To register for this talk: <a href="https://www.eventbrite.ca/e/astronaut-jeremy-hansen-talk-at-university-of-toronto-tickets-23137627266" target="_blank">register here at Eventbrite.</a> </p>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="thumbnail">
                <!-- <img src="projects/project4.jpg" alt="..."> -->
                <%= image_tag "projects/utsoniss.com_uoft_space_event.png", alt: "Space Conference" %>
              </div>
            </div>
          </div>
          <div class="row">
             <br><br>
            <%= render 'application/spread' %>
          </div>
      </div>
    </div>
  </div>
</section>