<% provide(:title, "Students projects are ready for launch to the ISS | ") %>
<!-- <p id="notice"><%#= notice %></p> -->
<!-- idea Section -->
<style type="text/css" media="screen">
#h {
  background: url('/assets/projects/experiment.jpg') no-repeat center bottom;
  padding-top: 150px;
  background-attachment: relative;
  background-position: center center;
  min-height: 700px;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#center, #h1{
  width: 100%;
  text-align:center;
}
</style>

<div id="h">
  <div class="container">
    <div class="row">
      <h1 class="centered">We are ready for launch to the ISS</h1>
    </div>
  </div><!--/container -->
</div>
<section id="idea">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h2 class="centered">We are ready for launch to the ISS</h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <p><strong>Hello everyone!</strong></p>

          <p>We are heading to <a href="https://www.kennedyspacecenter.com/">Cape Canaveral Kennedy Space Centre</a> on June 27th to watch the <a href="http://www.spacex.com/dragon">SpaceX Dragon </a>containing our experiment head to the ISS. We have had extreme delays, but it has been an interesting lesson on the aerospace industry and the difficult realities that go into launching safely.</p>

          <p>The students are extremely excited and we will be flying down with a large contingent of family members and representatives from Magellan Aerospace. </p>

          <p>Many of the students that participated in SSEP have chosen to continue their university studies with some aspect of aerospace engineering or a complete focus on aerospace engineering. There has most definitely been a positive impact and for this, I would like to sincerely thank the NCESSE and the SSEP program once again. It has been the most amount of work I have put into any project in my entire life, but the outcomes are well worth it!</p>

          <p>We have also had some media coverage. At St. Michael’s hospital, there has been a feature article on the “space kids” as they call them with a focus on Dr. Jane Batt, who has kindly advised our finalist group and provided much of the media to do the post launch testing. I would also like to thank Dr. Peter Roy from the University of Toronto, for hosting our diligent students <a href="http://utsoniss.herokuapp.com/final">Kay Wu</a> and <a href="http://utsoniss.herokuapp.com/final">Alice Vlasov</a> every week over the past year, to optimize growth of the nematodes in this experiment. </p>

          <p><a href="http://www.asc-csa.gc.ca/eng/default.asp">The Canadian Space Agency</a> also gave us a wonderful promotion when <a href="http://asc-csa.gc.ca/eng/astronauts/biohansen.asp"> Astronaut Jeremy Hansen </a> met with our students. He also gave <a href="http://utsoniss.herokuapp.com/spaceconf"> a talk which I co-hosted with the University of Aerospace Team (UTAT) that took place at the University of Toronto on April 8, 2016</a>. Students presented their work on their experiments to Lt. Col. Hansen, which was followed by an inspiring talk to the public on Canada’s role in space research. TVOkids was invited, and you can see both the interviews that were aired on the children’s channel in these links, as well as the video we made of our journey in the following links.
          </p>

          <div id="center">
            <div class="container">
              <div class="row">
                <p>
                  <strong>
                  UTSonISS team produced a video </a> which present SSEP project that aired at Jeremy Hansen talk:
                  </strong>
                </p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/pMjUiKrZSto" frameborder="0" allowfullscreen></iframe>
              </div>
              <!-- row -->
              <br><br>

              <div class="row">
                <p>
                  <strong>
                  TVOKids opener segment:
                  </strong>
                </p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/j3V12OoUOO8" frameborder="0" allowfullscreen></iframe>
              </div>
              <!-- row -->
              <br><br>

              <div class="row">
                <p>
                  <strong>
                  TvoKIDS Interview with Alice:
                  </strong>
                </p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3UxpiSwE1ms" frameborder="0" allowfullscreen></iframe>
              </div>
              <!-- row -->
              <br><br>

              <div class="row">
                <p>
                  <strong>
                  TvoKIDS Interview with Wilson:
                  </strong>
                </p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Ujsm0Wv3D4M" frameborder="0" allowfullscreen></iframe>
              </div>
              <!-- row -->
              <br><br>

              <div class="row">
                <p>
                  <strong>
                  TvoKIDS Interview with Miguel and Arjun:
                  </strong>
                </p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/mA7CAEbTyJQ" frameborder="0" allowfullscreen></iframe>
              </div>
              <!-- row -->
              <br><br>

              <div class="row">
                <p>
                  <strong>
                  TvoKIDS Interview with Jeremy Hansen:
                  </strong>
                </p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/yKK3RbjI4RU" frameborder="0" allowfullscreen></iframe>
              </div>
              <!-- row -->
              <br><br>
            </div>
            <!--/container -->
          </div>
          <!-- /h -->

          <p>We will update you post launch, where we hope everything goes smoothly and there are no unexpected problems with the launch.</p>

          <p>In the months that follow, we will finally see if C. elegans has a link with muscular atrophy in gravity.</p>

          <p>Kind regards,
            <br>
            <strong>
              <a href="https://medium.com/@suzanne_synthesis">Suzanne Monir</a>
            </strong>
          </p>
        </div>


        <div class="row">
          <hr>
          <%= render 'application/spread' %>
        </div>

      </div>
    </div>
  </div>
</section>
