<div id="white">
  <div id="contact">
    <div class="container">
        <div class="row mt">
          <div class="col-lg-4 col-lg-offset-4 centered">
            <h3>Contact Us</h3>
            <hr>
          </div>
        </div><!-- row -->
    </div><!-- /container -->
  <div id="map"></div>
  </div><!-- /contact -->
</div><!-- /white -->
