<style type="text/css" media="screen">
  /* HEADER SECTION */
#h {
  background: url('/assets/1.jpg') no-repeat center top;
  padding-top: 150px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 700px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#h h1 {
  font-size: 43px;
  color: #ffffff;
  text-shadow: 5px -5px 5px rgba(34, 34, 34, 1);
}
#h h3 {
  text-shadow: 3px -3px 3px rgba(0, 0, 0, 1);
  text-transform: lowercase;
  font-weight: 700;
}
#h a h3{
  color: #fed136;
}
.hero-play-btn {
  height: 99px;
  width: 99px;
  background: url('assets/play-btn.png') no-repeat center center;
  display: block;
  text-indent: -99999px;
  margin: 80px auto 260px;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
}
.hero-play-btn:hover, .hero-play-btn:focus {
  background-color: transparent;
  transform: translate(0, -15px);
  -webkit-transform: translate(0, -15px);
  -o-transform: translate(0, -15px);
  -moz-transform: translate(0, -15px);
}
.info {
  margin-top: 30px;
}
.info i {
  float: left;
  margin-right: 20px;
  display: block;
  font-size: 50px;
  margin-bottom: 50px;
}
.info .small {
  font-size: 14px;
  font-weight: 700;
}
.info h4 {
  font-weight: 700;
}
</style>

<div id="h">
  <div class="container">
    <div class="row">
      <h1 class="centered">Thank you!</h1>
      <h1 class="centered anotherh">A thank you from University of Toronto Schools for making the SSEP project happen for us</h1>
      <a href="https://www.youtube.com/watch?v=VN04ZOlkjw8" title="UTS kickstarter Project" target="_blank">
        <h3>Watch our thank you video</h3>
      </a>
      <div class="col-md-2 col-md-offset-5">
       <!-- <a href="https://www.kickstarter.com/projects/1817096536/help-uts-students-get-into-space/widget/video.html" class="hero-play-btn various fancybox.iframe">Play Button</a> -->
       <a id="various" href="https://www.youtube.com/embed/VN04ZOlkjw8" class="hero-play-btn various fancybox.iframe">Play Button</a>
      </div>
    </div>
  </div><!--/container -->
</div>