<!-- social -->
<div class="row">
    <div class="span12 social">
        <a href="" class="facebook" rel="tooltip" data-placement="top" data-original-title="Facebook community for UTS on ISS "></a>
        <a href="" class="twitter" rel="tooltip" data-placement="top" data-original-title="Twitter news for UTS on ISS"></a>
        <!-- <a href="" class="dribbble" rel="tooltip" data-placement="top" data-original-title="Dribbble"></a> -->
        <a href="" class="googleplus" rel="tooltip" data-placement="top" data-original-title="Google community for UTS on ISS"></a>
        <!-- <a href="" class="pinterest" rel="tooltip" data-placement="top" data-original-title="Pinterest"></a> -->
        <!-- <a href="" class="flickr" rel="tooltip" data-placement="top" data-original-title="Flickr"></a> -->
    </div>
</div>