  <div id="white">
    <div class="container">
        <div class="row mt">
          <div class="col-lg-4 col-lg-offset-4 centered">
            <h3>Contact Us</h3>
            <hr>
          </div>
        </div><!-- row -->
    </div><!-- /container -->
  <div id="map"></div>
  </div><!-- /white -->

<!-- social -->
<div class="row">
    <div class="span12 social">
        <a href="https://www.facebook.com/UTSonISS" class="facebook" rel="tooltip" data-placement="top" data-original-title="Facebook community for UTS on ISS" target="_blank"></a>
        <a href="https://twitter.com/utsoniss" class="twitter" rel="tooltip" data-placement="top" data-original-title="Twitter news for UTS on ISS" target="_blank"></a>
        <!-- <a href="" class="dribbble" rel="tooltip" data-placement="top" data-original-title="Dribbble"></a> -->
        <a href="https://plus.google.com/100767707806324090350" class="googleplus" rel="tooltip" data-placement="top" data-original-title="Google community for UTS on ISS" target="_blank"></a>
        <!-- <a href="" class="pinterest" rel="tooltip" data-placement="top" data-original-title="Pinterest"></a> -->
        <!-- <a href="" class="flickr" rel="tooltip" data-placement="top" data-original-title="Flickr"></a> -->
        <h5>
          Made with <i class="fa fa-heart"></i> in Toronto <br>
          By <%= link_to "Ahmed Nadar", "http://ahmednadar.github.io/", target: "_blank", class: 'made-by'%> <br>
          &#169;2015 <i class="fa fa-space-shuttle fa-rotate-270"></i>UTS on ISS
        </h5>
    </div>
</div>
<!-- footer ads -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- footer_side -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-2833014529176816"
     data-ad-slot="2572234487"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>