<!-- social -->
<div class="row">
    <div class="span12 social">
        <a href="https://www.facebook.com/UTSonISS" class="facebook" rel="tooltip" data-placement="top" data-original-title="Facebook community for UTS on ISS" target="_blank"></a>
        <a href="https://twitter.com/utsoniss" class="twitter" rel="tooltip" data-placement="top" data-original-title="Twitter news for UTS on ISS" target="_blank"></a>
        <!-- <a href="" class="dribbble" rel="tooltip" data-placement="top" data-original-title="Dribbble"></a> -->
        <a href="https://plus.google.com/100767707806324090350" class="googleplus" rel="tooltip" data-placement="top" data-original-title="Google community for UTS on ISS" target="_blank"></a>
        <!-- <a href="" class="pinterest" rel="tooltip" data-placement="top" data-original-title="Pinterest"></a> -->
        <!-- <a href="" class="flickr" rel="tooltip" data-placement="top" data-original-title="Flickr"></a> -->
        <h5><%= link_to "by ahmed nadar", "http://www.twitter.com/ahmednadar", target: "_blank" %></h5>
    </div>
</div>